<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chart</title>
</head>
<body>
    <h1>Chart</h1>
    <h2>{{ location }} : {{ key }}</h2>
    <form action="/chart" method="GET">
      <label for="days">Days:</label>
      <input type="number" id="days" name="days" min="1" step="1" value="{{ days }}">
      <input type="submit" text="Submit">
      <input type="hidden" name="location" value="{{ location }}">
      <input type="hidden" name="key" value="{{ key }}">
    </form>

    {{ plot_div|safe }}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js" crossorigin="anonymous"></script>
    {{ plot_script|safe }}


</body>
</html>
